.boardManagement_categoryArea{margin:30px 0 10px 0;}
.boardManagement_btnArea{margin:0 0 10px 0;}
.table tr{cursor: pointer;}
.table{table-layout:fixed;}
.table td,.table th{text-overflow:ellipsis; overflow:hidden;white-space:nowrap;}